:root{
    --color-white: #fff;
    --color-black: #000;
    --color-green-background: #22B455;
    --color-green-button: #228C45;
    --dropshadow-button: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));;
}




@font-face {
    font-family: Matrix;
    src: url(../fonts/Antimatrix-BWBVw.ttf);
 }

html, body, div, section, img, ul, li{
    padding: 0;
    margin: 0;
    list-style-type:none;
    box-sizing: border-box;
}


/* MAIN */

main{
    width: 100%;
    height: 100vh;
}

/* INITIAL SECTION */


main section.initialSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: var(--color-green-background);
    background-image: url('../img/neo-new.png'), url('../img/morpheus.png');
    background-size: 220px, 170px;
    background-repeat: no-repeat;
    background-position: right 125%, left 100%;
}
/* main section.initialSection > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: var(--color-green-background);
    background-image: url(../img/neo-new.png), url(../img/morpheus.png);
    background-size: 220px, 170px;
    background-repeat: no-repeat;
    background-position: right 125%, left 100%;
    max-width: 500px;
} */

main section.initialSection div.secLogo{
    display: flex;
    justify-content: baseline;
    align-items: center;
    height: 300px;
}


main section.initialSection div.secLogo h2.logo{
    font-family: Matrix;
    font-size: 78px;
}

main section.initialSection div.secButtons {
    display: flex;
    flex-direction: column;
}

main section.initialSection div.secButtons button.btnPlay, main section.initialSection div.secButtons button.btnRules, .btnPadrao, #btnPlayAgain, #btnMenu{
    background-color: var(--color-green-button);
    border: none;
    border-radius: 10px;
    color: var(--color-white);
    filter: var(--dropshadow-button);
    font-family: 'Advent Pro', sans-serif;
    font-size: 24px;
    margin: 5px 0;
    padding: 7px 30px;
    width: 160px;
    max-width: 160px;
}

/* INITIAL SECTION */
/* SELECT NAME SECTION */

main section.selectNameSection{
    position: absolute;
    z-index: 3;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    width: 100%;
    background-color: var(--color-green-background);
    background-image: url('../img/morpheus-pills.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

main section.hidden{
    display: none;
}

main section.selectNameSection div{
    margin-bottom: 30px;
}

main section.selectNameSection div div.inputsDiv{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

main section.selectNameSection div div.inputsDiv input{
    border-radius: 10px;
    height: 24px;
    margin: 20px 10px;
    width: 40%;
    background-color: #204829;
    color: var(--color-white);
    border: none;
}

main section.selectNameSection div div.inputsDiv input::placeholder{
    font-family: 'Courier New', Courier, monospace;
    /* font-family: Matrix; */
    text-align: center;
    color: var(--color-white);
}

main section.selectNameSection div div.btnStartDiv{
    align-items: center;
    display: flex;
    flex-direction: column;
}

main section.selectNameSection div div.btnStartDiv button.btnStartGame{
    width: 60vw;
}
main section.selectNameSection div div.btnStartDiv button.btnInitialScreen{
    width: 60vw;
}

/* SELECT NAME SECTION */
/* LOADING SECTION */

main section.loadingSection{
    background-image: url('../gif/loading.gif');
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
    position: absolute;
    z-index: 4;
    top: 0;
    width: 100%;
}

main section.hidden{
    display: none;
}

main section.loadingSection div{
    display: flex;
    justify-content: center;
}

main section.loadingSection div > h2{
    margin: 0;
    padding: 0;
    color: var(--color-white);
    font-family: Matrix;
}

/* LOADING SECTION */
/* RULES SECTION */
.rulesSection{
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    background: #22B455;
    color: var(--color-white);
    padding: 0px 10px;
    font-family: 'Advent Pro', sans-serif;
    height: 100vh;
    top: 0;
    width: 100vw;
}
main section.rulesSection > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    max-width: 379px;
}

/* #backRules{
    border: none;
    background: #228C45;
    padding: 7px 30px;
    font-size: 24px;
    border-radius: 10px;
    margin: 5px 0;
    color: var(--color-white);
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
    
} */
.rulesSection ul li > p{
    margin: 12px 0px;
}
#backRules:hover{
    border: 2px solid #CCC;
    border-radius: 10px;
    
    cursor: pointer
    
}
ul li h3 {
    text-align: center;
    margin: 0px;
}
#finishGame{
    /* list-style-type: disc; */
}

li#finishGame ul > li{
    list-style-type: disc;
    list-style: inside;
    
}


/* RULES SECTION */
/* GAME SECTION */

main section.gameSection{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section.hidden{
    display: none;
}
 
 .coluna {
     width: 60px;
     height: 360px;
     background-color: rgb(212, 209, 209);
     margin: 5px 5px;
     display: flex;
     flex-direction: column;
     
 }
 
 .linha {
    width: 28px;
    height: 28px;
     background-color: rgb(255, 255, 255);
     margin: 5px 5px;
     border-radius: 50px;
 }

 .player1 {
    width: 28px;
    height: 28px;
    background-color: rgb(224, 10, 10);
    margin: 5px 5px;
    border-radius: 50px;
}

.player2 {
    width: 28px;
    height: 28px;
    background-color: rgb(9, 33, 145);
    margin: 5px 5px;
    border-radius: 50px;
}

/* GAME SECTION */




/* MAIN */

/* victoryScreen */
main section.victorySection{
    background-color: transparent;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 20px;
    position: absolute;
    z-index: 4;
    top: -4%;
    width: 100%;
    flex-direction: column;
    align-content: center;
}
main section.victorySection div{
    display: flex;
    justify-content: center;
    background-image: url('../gif/empate.gif');
    height: 222px;
    width: 95vw;
    background-position: center;
    background-repeat: no-repeat;
}
main section.victorySection div.victoryBlue{
    display: flex;
    justify-content: center;
    background-image: url('../gif/blueWin.gif');
    height: 222px;
    width: 203px;
    color: blue;
}
main section.victorySection div.victoryRed{
    display: flex;
    justify-content: center;
    background-image: url('../gif/redWin.gif');
    height: 167px;
    width: 300px;
    color: red;
}
main section.victorySection div.empate{
    display: flex;
    justify-content: center;
    background-image: url('../gif/empate.gif');
    height: 222px;
    width: 300px;
    color: var(--color-green-background);
}



main section.victorySection  > h2.txtBlue{
    margin: 0;
    padding: 0;
    color: blue;
    font-family: Matrix;
}
main section.victorySection  > h2.txtRed{
    margin: 0;
    padding: 0;
    color: red;
    font-family: Matrix;
}
.victoryScreen{
    background-color: var(--color-green-background);
 
    position: absolute;
    z-index: 7;
    height: 100vh;
    width: 100vw;
}

@keyframes winnerBlue {
    0%   {background-color: rgb(68, 0, 255); filter: drop-shadow(1px 2px 12px blue);}
    25%  {background-color: rgb(55, 0, 255); filter: drop-shadow(1px 2px 12px blue);}
    50%  {background-color: blue; filter: drop-shadow(1px 2px 12px blue);}
    100% {background-color: rgb(0, 9, 128); filter: drop-shadow(1px 2px 12px blue);}
  }

@keyframes winnerRed {
    0%   {background-color: rgb(252, 4, 16); filter: drop-shadow(1px 2px 12px red) brightness(1);}
    25%  {background-color: red; filter: drop-shadow(1px 2px 12px red);}
    50%  {background-color: red; filter: drop-shadow(1px 2px 12px red);}
    100% {background-color: rgb(138, 3, 3); filter: drop-shadow(1px 2px 12px red) brightness(1);}
}

@keyframes winner{
    0% { filter: brightness(2) drop-shadow(1px 2px 15px black) saturate(1); }
    25% { filter: brightness(1.5) drop-shadow(1px 2px 15px black) saturate(1);}
    50% { filter: brightness(1) drop-shadow(1px 2px 15px black); } 
    75% { filter: drop-shadow(1px 2px 15px black)}
    100% { filter: brightness(0.5) saturate(1) drop-shadow(1px 2px 15px black) ;}
}

.winnerBlue{
    animation: winnerBlue .50s linear infinite;
}
.winnerRed{
    animation: winnerRed .50s linear infinite;
}
.hidden{
    display: none;
}

