:root{
    --color-white: #fff;
    --color-black: #000;
}

html, body, div, section, img, ul, li{
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
}



/* MAIN */


/* INITIAL SECTION */



/* INITIAL SECTION */
/* RULES SECTION */



/* RULES SECTION */
/* GAME SECTION */



/* GAME SECTION */




/* MAIN */